<section class="container article-padding">
  <div class="row">
    <div class="col-4 d-flex flex-column justify-content-between">
      <h2 class="ps-1 fs-2 noto-serif-tc-900 theme">精選文章</h2>
      <div class="swiper-control position-relative">
        <div class="swiper-pagination ps-1"></div>
        <div class="swiper-button-content d-flex">
          <span class="material-symbols-outlined swiper-button-next">
            arrow_right_alt
          </span>
          <div class="line-marign">
            <span class="d-block line"></span>
          </div>
          <span class="material-symbols-outlined swiper-button-prev">
            arrow_back
          </span>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card">
              <img src="../assets//image/articles-1.png" class="card-img-top" alt="精選文章">
              <div class="card-body px-0 py-3">
                <p class="h5 noto-serif-tc-900 article-titleColor">私人島嶼的露營奇遇記</p>
                <p class="article-info noto-serif-tc-600">
                  遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                <span class="read-more newsreader-700">Read More</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../assets//image/articles-2.png" class="card-img-top" alt="精選文章">
              <div class="card-body px-0 py-3">
                <p class="h5 noto-serif-tc-900 article-titleColor">私人島嶼的露營奇遇記</p>
                <p class="article-info noto-serif-tc-600">
                  遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                <span class="read-more newsreader-700">Read More</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../assets//image/articles-1.png" class="card-img-top" alt="精選文章">
              <div class="card-body px-0 py-3">
                <p class="h5 noto-serif-tc-900 article-titleColor">私人島嶼的露營奇遇記</p>
                <p class="article-info noto-serif-tc-600">
                  遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                <span class="read-more newsreader-700">Read More</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../assets//image/articles-2.png" class="card-img-top" alt="精選文章">
              <div class="card-body px-0 py-3">
                <p class="h5 noto-serif-tc-900 article-titleColor">私人島嶼的露營奇遇記</p>
                <p class="article-info noto-serif-tc-600">
                  遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                <span class="read-more newsreader-700">Read More</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../assets//image/articles-1.png" class="card-img-top" alt="精選文章">
              <div class="card-body px-0 py-3">
                <p class="h5 noto-serif-tc-900 article-titleColor">私人島嶼的露營奇遇記</p>
                <p class="article-info noto-serif-tc-600">
                  遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                <span class="read-more newsreader-700">Read More</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
