<section class="container">
  <div class="banner">
    <div class="slogan">
      <h5 class="h5 noto-serif-tc-900 slogan-h5-color mb-1">獻給新世代的生活風格誌</h5>
      <h1 class="h1 noto-serif-tc-900 slogan-h1-color mb-2">一起探索生活的無限可能</h1>
      <button class="subscribe">
        <a href="#" class="d-flex">
          <span class="me-1">馬上訂閱</span>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </a>
      </button>
    </div>
  </div>
</section>