<header>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1 class="header-logo me-6">Vivre</h1>
      <input type="text" class="search" name="search" id="search">
    </div>
    <ul>
      <li><a href="#">所有文章</a></li>
      <li><a href="#">訂閱方案</a></li>
      <li><a href="#">關於我們</a></li>
      <li>
        <button type="button">登入/註冊</button>
      </li>
    </ul>
  </div>
</header>