<section class="container theme-padding">
  <h2 class="ps-1 fs-2 noto-serif-tc-900 theme">熱門主題</h2>
  <ul class="p-0 m-0 row gy-3">
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-1.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">城市漫遊者</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-3.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">秘境尋蹤人</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-5.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">品味設計家</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-8.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">美食探險記</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-2.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">美學建築誌</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-4.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">慢活生活行</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-6.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">工藝匠心賞</span>
    </li>
    <li class="col-3 position-relative">
      <img class="theme-image" src="../assets/image/theme-7.png" alt="主題圖片">
      <span class="h5 theme-name noto-serif-tc-900 position-absolute top-50 start-50 translate-middle">時尚先鋒派</span>
    </li>
  </ul>
</section>