<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>index</title>
</head>

<body class="index-body-color">
  <%- include('./layout/header'); -%>
    <%- include('./layout/banner'); -%>
      <%- include('./layout/theme'); -%>
        <%- include('./layout/article'); -%>
  <section class="discount-bg">
    <div class="container">
      <div class="discount-content text-center">
        <h4 class="h4 noto-serif-tc-900 fs-4">\ 母親節強檔活動 /</h4>
      </div>
    </div>
  </section>


          <script type="module" src="../main.js"></script>
</body>

</html>
